body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
}

#maze{
    margin: 20px auto;
    width: 800px;
    height: 800px;
    border: 2px solid black;
    position: relative;
}

.wall, #start, #end{
    width: 40px;
    height: 40px;
    background-color: black;
    position: absolute;
}

// add more walls as needed


#start {
    background-color: green;
    top: 40px;
    left: 40px;
}



.player {
    width: 40px;
    height: 40px;
    background-image: url('../images/front.png');
    position: absolute;
    background-position: center;
    background-size: cover;
}

.square{
    width: 40px;
    height: 40px;
    background-color: grey;
    position: absolute;
}